.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

.container > * {
    margin: 0;
    line-height: normal;
}