.imgContainer {
    position: relative;
    width: min(100%, 250px);
}

.imgContainer > img {
    width: 100%;
}

/* offset border for image */
.imgContainer::before {
    content: '';
    position: absolute;
    top: 20px;
    right: -20px;
    width: 100%;
    height: 100%;
    border: 4px solid var(--primary-color);
    z-index: -1;
}