.container {
    position: relative;
    width: 100vw;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg_img { 
    max-width: 100%;
    opacity: 0.4;
}

.link_title {
    position: absolute;
    text-decoration: none;
    font-size: 2.5rem;
}

.link_title:hover {
    text-decoration: underline;
}