.menu_icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.menu_icon > svg {
    width: 100%;
    height: 100%;
}

.menu_icon:hover {
    fill: var(--secondary-color);
    cursor: pointer;
}

.menu_dropdown {
    position: absolute;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin-left: 10px;
    background-color: black;
    border: 3px solid var(--primary-color);
    z-index: 1;
    display: none;
}

.menu_dropdown a {
    text-decoration: none;
    font-size: 1.5rem;
}

.menu_dropdown li {
    padding: 10px 0;
}

.menu_active {
    transform: translateY(60px);
    display: flex;
}