/* Menu Icon styles */

.menuIcon {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    transition: all 300ms ease-in-out;
}

/* Menu "Icon" construction and animation idea credit: https://codepen.io/Bilal1909/pen/KKdrmRP */

.menuIcon::before,
.menuIcon::after,
.menuIcon div {
  background-color: var(--primary-color);
  content: "";
  display: block;
  height: 6px;
  transition: 0.5s;
}

/* Animation to close on click */

.closeIcon::before {
    transform: translateY(13px) rotate(135deg);
}
.closeIcon::after {
    transform: translateY(-14px) rotate(-135deg);
}
.closeIcon div {
    transform: scale(0);
}

/* Menu dropdown styles */

.menu_dropdown {
    position: absolute;
    top: 65px;
    list-style-type: none;
    width: 200px;
    margin-left: 10px;
    background-color: var(--body-color);
    border: 3px solid var(--primary-color);

    display: flex;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    transition: all 300ms ease-in-out;
}

.menu_dropdown a {
    text-decoration: none;
    font-size: 1.5rem;
}

.menu_dropdown li {
    padding: 10px 0;
    padding-left: 10px;
    width: 100%;
    transition: background-color 200ms ease-in;
}

.menu_dropdown li:hover {
    background-color: var(--primary-color);
    color: var(--body-color);
}

.menu_dropdown li:hover a {
    color: var(--body-color);
}

/* Menu drops down when clicked */
.menu_active {
    transform: translateY(10px);
    opacity: 1;
    z-index: 1;
}