.menu_icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.menu_icon > svg {
    width: 100%;
    height: 100%;
}

.menu_icon:hover {
    fill: var(--secondary-color);
    cursor: pointer;
}

.menu_dropdown {
    position: absolute;
    top: 60px;
    list-style-type: none;
    width: 200px;
    margin-left: 10px;
    background-color: black;
    border: 3px solid var(--primary-color);

    display: flex;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    transition: all 300ms ease-in-out;
}

.menu_dropdown a {
    text-decoration: none;
    font-size: 1.5rem;
}

.menu_dropdown li {
    padding: 10px 0;
}

.menu_active {
    transform: translateY(10px);
    opacity: 1;
    z-index: 1;
}